@import "config"

body
	padding-bottom: 40px

#about
	background: #333
	color: #fff
	font-family: $font
	font-weight: 300
	a
		color: #fff

.navbar-nav a
	background: none !important
	font-family: $font
	text-transform: uppercase
.navbar-header
	height: auto
	margin-left: 15px
	margin-right: 15px
.navbar-default
	background: none
	border: 0 none
	margin-bottom: -15px
	.navbar-brand
		color: $gray-dark
		font-family: $font
		font-weight: 500
		height: auto
		letter-spacing: -.05em
		line-height: 1em
		padding-bottom: 20px
		padding-left: 0
		padding-top: 20px
		text-transform: uppercase
		white-space: nowrap
		&:after
			color: #9cf
			content: "/"
			font-family: "Helvetica", sans-serif
			font-weight: bold
			margin-left: .1em
	.navbar-toggle
		background: none !important
		border: 0 none
		border-radius: 0
		margin-bottom: (20px-3)
		margin-right: 0
		margin-top: (20px+3)
		padding: 0
		.icon-bar
			background: $gray-dark
			border-radius: 0
			height: 6px
			width: 30px
	.navbar-collapse
		border-top: 0 none
.dropdown-menu
	margin-right: 11px
	white-space: nowrap

.heading
	font-family: $font
	font-weight: 400
	text-align: center
	text-transform: uppercase

.job-header
	margin-bottom: 1.5em
	margin-top: 1.5em
.p-name,
.p-category
	font-family: $font	
	margin: 0
	text-transform: uppercase
.p-name
	color: $gray-dark
	font-weight: 400
.p-category
	color: $gray-light
	font-weight: 300
	a
		color: $gray-light
.p-summary
	color: $gray-light
	font-family: $font
	font-weight: 300
	padding-bottom: 1em
.e-content img
	width: 100%

.jobs
	padding: 0
.job
	list-style: none
	margin-bottom: 2px
	@include make-xs-column((12/2), 2px)
	@include make-sm-column((12/3), 2px)
	@include make-md-column((12/4), 2px)

.popover
	background: #fff
	border: 1px solid $gray-lighter
	border-radius: 0
	margin-top: 50% !important
	padding: 1em .8em .8em
	pointer-events: none
	text-align: right
	text-transform: uppercase
	.arrow
		display: none
.popover-title,
.popover-content
	font-family: $font
.popover-title
	background: none
	border: 0 none
	padding: 0 0 2px
.popover-content
	padding: 2px 0 0

@media (max-width: ($screen-xs-min - 1))
	#about
		font-size: (18em/14*.8)
		padding: 2em 0
	.about
		padding-bottom: 1em
	.navbar-default
		.navbar-brand
			font-size: (26em/14*.8)
		.navbar-toggle
			.icon-bar
				height: 4px
				width: 26px
				+ .icon-bar
					margin-top: 3px
	.heading
		font-size: (28em/14*.8)
	.p-name
		font-size: (28em/14*.8)
	.p-category
		font-size: (20em/14*.8)
	.p-summary
		font-size: (20em/14*.8)
	.popover
		font-size: (10em / 14)
		margin-left: 0 !important
		margin-top: 0 !important

@media (min-width: $screen-xs-min)
	#about
		font-size: (18em/14)
		padding: 2em 0
	.about
		padding-bottom: 1em
	.navbar-default
		.navbar-brand
			font-size: (34em/14)
	.heading
		font-size: (28em/14)
	.p-name
		font-size: (28em/14)
	.p-category
		font-size: (20em/14)
	.p-summary
		font-size: (20em/14)
	.popover
		margin-left: 10px !important
		// white-space: nowrap
	.popover-title
		font-size: (18em / 14)
	.popover-content
		font-size: (14em / 14)

@media (min-width: $screen-sm-min)
	.about
		padding-bottom: 0
	.navbar-nav,
	.navbar-default
		padding-top: 20px
	.navbar-nav
		> li > a
			padding-bottom: 5px
			padding-top: 5px
	.job-header,
	.p-summary
		margin: 20px 0
	.p-name
		padding-top: 1em
	.p-name,
	.p-category,
	.dropdown-menu
		text-align: right
	.heading
		font-size: (20em/14)
		margin-bottom: 1.5em
	.popover
		margin-left: 20px !important

@media (min-width: $screen-md-min)
	#about
		font-size: (20em/14)
	.navbar-nav 
		font-size: (23em/14)
		.dropdown-menu
			font-size: (20em/23)
			padding-bottom: 15px
			padding-top: 15px
			a
				color: $gray-light

@media (min-width: $screen-lg-min)
