<!DOCTYPE html>
<html lang="en" ng-app="jorgeApp">
  <head>
    <meta charset="UTF-8">
    <title>Jorge Ferreira — Diretor de Arte</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/jorgeferreira.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" ng-controller="AppCtrl">
      <div class="row">
        <section class="hide" ng-class="{show: showAbout}">
          <div class="col-xs-12 col-sm-5 col-sm-push-3 col-md-4 col-lg-push-2">
            <p>I am Jorge Ferreira a self taught Brazilian Graphic designer. Like all French people I live off baguette, champagne and foie gras evidently! I also say ohlala</p>
          </div>
          <div class="col-xs-8 col-xs-push-4 col-sm-4 col-sm-push-3 col-md-push-4">
            <ul>
              <li>+ 55 (11) 94970 0394</li>
              <li><a href="#">contato@jorgeferreira.me</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Behance</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-xs-pull-8 col-sm-3 col-sm-pull-9 col-md-pull-8 col-lg-2">
            <img alt="" class="img-responsive" src="http://dummyimage.com/250x250">
          </div>
        </section>
      </div>
      <div class="row">
        <header class="navbar navbar-default" role="banner">
          <div class="navbar-header">
            <h1 class="navbar-brand">
              <a href="#">Jorge Ferreira</a>
            </h1>
            <button class="navbar-toggle" ng-click="isXS = !isXS" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <nav class="navbar-collapse" ng-class="{hide: isXS}" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" href="#">
                  Trabalhos
                  <b class="caret"></b>
                  <ul class="dropdown-menu">
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                  </ul>
                </a>
              </li>
              <li><a href="#" ng-click="showAbout = !showAbout">Sobre</a></li>
              <li><a href="#" ng-click="showAbout = !showAbout">Contato</a></li>
            </ul>
          </nav>
        </header>
      </div>
      <article class="row">
        <hgroup class="col-sm-6 col-sm-push-6 col-md-4 col-md-push-8" ng-class="{'text-right': !isXS}">
          <h2>Banana Cake Brasil</h2>
          <p>Branding / Digital</p>
        </hgroup>
        <div class="col-sm-6 col-sm-pull-6 col-md-7 col-md-pull-4">
          <p>Tokyocube was created to promote designer toys, art, fashion and interior products from Japan to an international audience, providing a unique platform for Japanese merchants to sell to English.</p>
        </div>
        <div class="col-xs-12">
          <p>
            <img alt="" class="img-responsive" src="http://dummyimage.com/1400x800">
          </p>
        </div>
      </article>
      <hr>
      <section class="row">
        <div class="col-xs-12">
          <h3 class="text-center">Trabalhos</h3>
          <ul class="jobs-list">
            <li class="jobs-item"><a href="#" tooltip="Teste">
              <img alt="" class="img-responsive" src="http://dummyimage.com/400x300">
            </a></li>
            <li class="jobs-item"><a href="#" tooltip="Teste">
              <img alt="" class="img-responsive" src="http://dummyimage.com/400x300">
            </a></li>
            <li class="jobs-item"><a href="#" tooltip="Teste">
              <img alt="" class="img-responsive" src="http://dummyimage.com/400x300">
            </a></li>
            <li class="jobs-item"><a href="#" tooltip="Teste">
              <img alt="" class="img-responsive" src="http://dummyimage.com/400x300">
            </a></li>
            <li class="jobs-item"><a href="#" tooltip="Teste">
              <img alt="" class="img-responsive" src="http://dummyimage.com/400x300">
            </a></li>
            <li class="jobs-item"><a href="#" tooltip="Teste">
              <img alt="" class="img-responsive" src="http://dummyimage.com/400x300">
            </a></li>
            <li class="jobs-item"><a href="#" tooltip="Teste">
              <img alt="" class="img-responsive" src="http://dummyimage.com/400x300">
            </a></li>
            <li class="jobs-item"><a href="#" tooltip="Teste">
              <img alt="" class="img-responsive" src="http://dummyimage.com/400x300">
            </a></li>
          </ul>
        </div>
      </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="js/scripts.min.js"></script>
  </body>
</html>
