!!!
%html{:lang => "en", :ng => {:app => "jorgeApp"}} 
	%head 
		%meta{:charset => "UTF-8"}/ 
		%title Jorge Ferreira — Diretor de Arte
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/ 
		%link{:rel => "stylesheet", :href => "css/jorgeferreira.css"}/ 
	%body 
		.container 
			.row
				%header.navbar.navbar-default{:role => "banner", :ng => {:controller => "NavBarCtrl"}} 
					.navbar-header 
						%a.navbar-brand{:href => "#"} Jorge Ferreira
						%button.navbar-toggle{:type => "button", :ng => {:click => "isCollapsed = !isCollapsed"}} 
							%span.sr-only Toggle navigation
							- 3.times do |ntime| 
								%span.icon-bar 
					%nav.navbar-collapse{:role => "navigation", :ng => {:class => "!isCollapsed && 'in'"}} 
						%ul.nav.navbar-nav.navbar-right 
							%li.dropdown 
								%a.dropdown-toggle{:href => "#"} 
									Trabalhos
									%b.caret 
									%ul.dropdown-menu 
										- 8.times do |ntime| 
											%li< 
												%a{:href => "#"} Item
							%li< 
								%a{:href => "#"} Sobre
							%li< 
								%a{:href => "#"} Contato
			%article.row 
				%hgroup.col-sm-6.col-sm-push-6.col-md-4.col-md-push-8{:style => "background:#0f0"}
					%h2 Banana Cake Brasil
					%h3 Branding / Digital
				.col-sm-6.col-sm-pull-6.col-md-7.col-md-pull-4{:style => "background:#f00"} 
					%p Tokyocube was created to promote designer toys, art, fashion and interior products from Japan to an international audience, providing a unique platform for Japanese merchants to sell to English.
				.col-xs-12{:style => "background:#00f"} 
					%p 
						%img.img-responsive{:src => "http://dummyimage.com/1400x800", :alt => ""}/ 
			%hr/ 
			%section.row
				.col-xs-12
					%h3.text-center Trabalhos 
					%ul.jobs-list 
						- 8.times do |ntime| 
							%li.jobs-item< 
								%img.img-responsive{:src => "http://dummyimage.com/400x300", :alt => ""}/ 
		%script{:src => "js/scripts.min.js"} 
